.container {
  height: 90vh;
  width: 100%;
  border: 2px solid;
  border-left-color: #ff0000;
  border-right-color: #00ff00;
  border-top-color: #0000ff;
  border-bottom-color: #ffff00;
}

.quadrado {
  height: 20px;
  width: 20px;
  background: #000000;
  position: relative;
  left: 50%;
  top: 50%;
  position: absolute;
}

button {
  width: 20%;
  margin-left: 25px;
}